<!--wrapper-->
<div class="wrapper">
  <!--sidebar wrapper -->
  <div class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header" >
      <div>
        <img src="./assets/backend/images/logo-icon.png" class="logo-icon" alt="logo icon" routerLink="/">
      </div>
      <div>
        <a routerLink="/"><h4 class="logo-text">TechJob</h4></a>
      </div>
<!--      <div class="toggle-icon ms-auto"><i class='bx bx-arrow-to-left'></i>-->
<!--      </div>-->
    </div>
    <!--navigation-->
    <ul class="metismenu" id="menu">
      <li>
        <a routerLink="/admin" class="has-arrow">
          <div class="parent-icon"><i class='bx bx-home-circle'></i>
          </div>
          <div class="menu-title">Bảng điều khiển</div>
        </a>
        <ul>
          <li><a routerLink="/admin/company/list"><i class="bx bx-right-arrow-alt"></i>Danh sách nhà tuyển dụng</a>
          </li>
          <li><a routerLink="city/list"><i class="bx bx-right-arrow-alt"></i>Danh sách các thành phố </a>
          </li>
          <li><a routerLink="category/list"><i class="bx bx-right-arrow-alt"></i>Danh sách công việc chyên ngành  </a>
          </li>
        </ul>
      </li>
    </ul>
    <!--end navigation-->
  </div>
  <!--end sidebar wrapper -->
  <!--start header -->
  <header>
    <div class="topbar d-flex align-items-center">
      <nav class="navbar navbar-expand">
        <div class="mobile-toggle-menu"><i class='bx bx-menu'></i>
        </div>
        <div class="search-bar flex-grow-1">
        </div>
        <div class="user-box dropdown">
          <a class="d-flex align-items-center nav-link dropdown-toggle dropdown-toggle-nocaret" href="#" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            <img *ngIf="admin?.image" src="http://localhost:8000/storage/admin/{{admin?.image}}" class="user-img" alt="user avatar">
            <img *ngIf="!admin?.image" src="https://previews.123rf.com/images/artinspiring/artinspiring1811/artinspiring181100743/127434465-portrait-of-young-man-beautiful-handsome-boy-avatar-guy-smiling-male-character-isolated-vector-illus.jpg" alt="" style="vertical-align: middle; width: 35px; height: 35px; border-radius: 50%;">

            <div class="user-info ps-3">
              <p class="user-name mb-0">{{admin?.name}}</p>
              <p class="designattion mb-0">Admin</p>
            </div>
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="javascript:;"><i class="bx bx-user"></i><span>Trang cá nhân</span></a>
            </li>
            <li>
              <div class="dropdown-divider mb-0"></div>
            </li>
            <li><a class="dropdown-item" href="javascript:;" (click)="logout()"><i class='bx bx-log-out-circle'></i><span>Đăng xuất</span></a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <!--end header -->
  <!--start page wrapper -->
  <div class="page-wrapper">
    <div class="page-content">
      <!--  Components thay đổi ở đây-->
      <router-outlet></router-outlet>
      <!--  Components thay đổi ở đây-->
    </div>
  </div>


  <!--end page wrapper -->
  <!--start overlay-->
  <div class="overlay toggle-icon"></div>
  <!--end overlay-->
  <!--Start Back To Top Button--> <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
  <!--End Back To Top Button-->
  <footer class="page-footer">
    <p class="mb-0">TechJob © 2021.</p>
  </footer>
</div>
<!--end wrapper-->
