
<div class="card">
  <div class="card-header" style="text-align: center"><h2>Danh sách nhà tuyển dụng</h2></div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table mb-0">
        <thead class="table-light">
        <tr>
          <th>#</th>
          <th>Tên</th>
          <th>Điện thoại</th>
          <th>Thành phố</th>
          <th>Trạng thái</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr class="background-hover" *ngFor="let company of totalEmployer, index as i">
          <td>
            <div class="d-flex align-items-center">
              <div class="ms-2">
                <h6 class="mb-0 font-14">{{i + 1 }}</h6>
              </div>
            </div>
          </td>
          <td>{{company?.user.name}}</td>
          <td>{{company?.phone}}</td>
          <td>{{company?.city.name}}</td>

          <td *ngIf="company?.status == '1'">
            <label class="switch">
              <input type="checkbox" checked (change)="changeStatusEmployer($event, company?.id)">
              <span class="slider round"></span>
            </label>
            <div class="badge rounded-pill text-success bg-light-success p-2 text-uppercase px-3"><i class='bx bxs-circle me-1'></i>Đã xác nhận</div></td>
          <td *ngIf="!company?.status">
            <label class="switch">
              <input type="checkbox" (change)="changeStatusEmployer($event,company?.id)" >
              <span class="slider round"></span>
            </label>
          <div class="badge rounded-pill text-warning bg-light-warning p-2 text-uppercase px-3"><i class='bx bxs-circle align-middle me-1'></i>Đang chờ xác nhân...</div><td>
            <div class="d-flex order-actions">
              <a href="javascript:;" class=""><i class='bx bxs-edit'></i></a>
              <a href="javascript:;" class="ms-3"><i class='bx bxs-trash'></i></a>
            </div>
          </td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
