li{
  float: left;
}
#category:hover{
  text-decoration: underline;
  cursor: pointer;
  color: #0068fd !important;
}

.job-content:hover {
  background-color: #eae9e9;
}

.if-price:hover {
  background-color: #eeeeee;
}
