<!-- search section -->
<div class="container-fluid search-fluid">
  <div class="container">
    <div class="search-wrapper" style="margin-top: -11rem;">

      <ul class="nav nav-tabs search-nav-tabs" id="myTab" role="tablist">
        <li class="nav-item search-nav-item">
          <a class="nav-link snav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Tìm việc làm nhanh</a>
        </li>
      </ul>
      <div class="tab-content search-tab-content" id="myTabContent">
        <!-- content tab 1 -->
        <div class="tab-pane stab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <form class="bn-search-form" [formGroup]="formSearchJob" (ngSubmit)="search()">
            <div class="row">
              <div class="col-md-10 col-sm-12">
                <div class="row">
                  <div class="col-md-5">
                    <div class="input-group s-input-group">
                      <input formControlName="keyword" type="text" class="form-control sinput" placeholder="Nhập tiêu đề">
                      <span><i class="fa fa-search"></i></span>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <select formControlName="language" id="computer-languages" style="text-align: right">
                      <option value="" selected>Tất cả ngôn ngữ</option>
                      <option *ngFor="let language of languages;index as i" value="{{language.language}}">{{language.language}}</option>
                    </select>
                    <!--                    <i class="fa fa-code sfa" aria-hidden="true"></i>-->
                  </div>
                  <div class="col-md-3">
                    <select formControlName="city" id="s-provinces">
                      <option value="" selected>Tất cả địa điểm</option>
                      <option *ngFor="let city of cities;index as i" value="{{i+1}}">{{city.name}}</option>
                    </select>
                    <!--                    <i class="fa fa-map-marker sfa" aria-hidden="true"></i>-->
                  </div>
                </div>
              </div>
              <div class="col-md-2 col-sm-12">
                <button type="submit" class="btn btn-primary btn-search col-sm-12">Tìm kiếm</button>
              </div>
            </div>
          </form>
        </div>
        <!-- (end) content tab 1 -->
        <!-- content tab 2 -->
        <!-- (end) content tab 2 -->
      </div>

    </div>
  </div>
</div>
<!-- (end) search section -->
