<div class="container-fluid login-fluid clear-left clear-right">
  <div class="login-container">
    <!-- login header -->
    <div class="login-header">
      <div class="w-login m-auto">
        <div class="login-logo">
          <h3>
            <!-- <a href="#">Tech<span class="txb-logo">Jobs.</span></a> -->
            <a href="#">
              <img src="../../../../../assets/frontend/img/techjobs_bgw.png" alt="TechJobs">
            </a>
          </h3>
        </div>
        <div class="login-right">
          <a routerLink="" class="btn btn-return">Trang chủ</a>
        </div>
      </div>
    </div>
    <!-- (end) login header -->

    <div class="clearfix"></div>

    <div class="padding-top-90"></div>

    <!-- login main -->
    <div class="login-main">
      <div class="w-login m-auto">
        <div class="row">
          <!-- login main descriptions -->
          <div class="col-md-6 col-sm-12 col-12 login-main-left">
            <img src="../../../../../assets/frontend/img/banner-login.png">
          </div>
          <!-- login main form -->
          <div class="col-md-6 col-sm-12 col-12 login-main-right">

            <form class="login-form reg-form" *ngIf="formRegister" [formGroup]="formRegister" (ngSubmit)="submit()">
              <div class="login-main-header">
                <h3>Đăng Ký Tài Khoản Nhà Tuyển Dụng</h3>
              </div>
              <div class="input-div one">
                <div class="div lg-lable">
                  <input type="text" class="input form-control-lgin" placeholder="Tên công ty*" formControlName="name">
                </div>
                <div *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)">
                  <div *ngIf="f.name.errors">
                    <div *ngIf="f.name.errors.required">
                      <small class="validate">*Tên công ty không được để trống!</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="input-div one">
                <div class="div lg-lable">
                  <input type="text" class="input form-control-lgin" placeholder="Địa Chỉ Email*" formControlName="email">
                </div>

                <div *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)">
                  <div *ngIf="f.email.errors">
                    <div *ngIf="f.email.errors.required">
                      <small class="validate">*Email không được để trống!</small>
                    </div>
                    <div *ngIf="f.email.errors.email">
                      <small class="validate">*Email không đúng định dạng!</small>
                    </div>
                  </div>
                </div>

              </div>
              <div class="input-div one">
                <div class="div lg-lable">
                  <input type="password" class="input form-control-lgin" placeholder="Mật khẩu*"
                         formControlName="password">
                </div>
                <div *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)">
                  <div *ngIf="f.password.errors">
                    <div *ngIf="f.password.errors.required">
                      <small class="validate">*Mật khẩu không được để trống!</small>
                    </div>
                    <div *ngIf="f.password.errors.minlength">
                      <small class="validate">*Mật khẩu phải từ 8 ký tự!</small>
                    </div>
                  </div>
                </div>

              </div>
              <div class="input-div one">
                <div class="div lg-lable">
                  <input type="password" class="input form-control-lgin" name="confirmpassword" placeholder="Xác nhận mật khẩu*"
                         formControlName="confirmpassword">
                </div>
                <div *ngIf="f.confirmpassword.invalid && (f.confirmpassword.dirty || f.confirmpassword.touched)">
                  <div *ngIf="f.confirmpassword.errors">
                    <div *ngIf="f.confirmpassword.errors.required">
                      <small class="validate">*Xác nhận mật khẩu không được để trống!</small>
                    </div>
                    <div *ngIf="f.confirmpassword.errors.MustMatch">
                      <small class="validate">*Mật khẩu không trùng khớp!</small>
                    </div>
                  </div>
                </div>

              </div>

              <div class="input-div one">
                <div class="div lg-lable">
                  <select formControlName="city_id">
                    <option value="">Thành phố</option>
                    <option *ngFor="let city of cities" [value]="city.id">{{city.name}}</option>
                  </select>
                </div>
                <div *ngIf="f.city_id.invalid && (f.city_id.dirty || f.city_id.touched)">
                  <div *ngIf="f.city_id.errors">
                    <div *ngIf="f.city_id.errors.required">
                      <small class="validate">*Địa chỉ công ty không được để trống!</small>
                    </div>
                  </div>
                </div>

              </div>
              <div class="input-div one">
                <div class="div lg-lable">
                  <input type="number" class="input form-control-lgin" placeholder="Số nhân viên"
                         formControlName="employees">
                </div>
              </div>
              <div class="input-div one">
                <div class="div lg-lable">
                  <input type="text" class="input form-control-lgin" placeholder="Link google map"
                         formControlName="map_link">
                </div>
              </div>

              <div class="input-div one">
                  <input id="accept" type="checkbox" class="input form-control-lgin" formControlName="accept">
                   <a href="https://vi.wikipedia.org/wiki/Wikipedia:%C4%90i%E1%BB%81u_kho%E1%BA%A3n_S%E1%BB%AD_d%E1%BB%A5ng">Bạn có chấp nhận điều khoản của chúng tôi?</a>
              </div>

              <div class="form-group d-block frm-text">
                <a href="#" class="fg-login d-inline-block"></a>
                <a routerLink="/login" href="javascript:" class="fg-login float-right d-inline-block">Bạn đã có tài khoản? Đăng Nhập</a>
              </div>
              <div>
              <button type="submit" class="btn btn-primary float-right btn-login d-block w-100" [disabled]="formRegister.invalid">Đăng Ký Nhà Tuyển Dụng</button>
              </div>
              <div class="form-group d-block w-100 mt-5">
                <div class="text-or text-center">
                  <span>Hoặc</span>
                </div>

                <div class="row">
                  <div class="col-sm-6 col-12 pr-7">
                    <button class="btn btn-secondary btn-login-facebook btnw w-100 float-left">
                      <!--                      <i class="fa fa-facebook" aria-hidden="true"></i>-->
                      <span>Đăng nhập bằng Facebook</span>
                    </button>
                  </div>
                  <div class="col-sm-6 col-12 pl-7">
                    <button class="btn btn-secondary btn-login-google btnw w-100 float-left">
                      <!--                      <i class="fa fa-google" aria-hidden="true"></i>-->
                      <span>Đăng nhập bằng Google</span>
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- (end) login main -->
  </div>
</div>
<footer class="login-footer">
  <div class="w-login m-auto">
    <div class="row">
      <!-- login footer left -->
      <div class="col-md-6 col-sm-12 col-12 login-footer-left">
        <div class="login-copyright">
          <p>Copyright © 2020 <a href="#"> TechJobs</a>. All Rights Reserved.</p>
        </div>
      </div>
      <!-- login footer right -->
      <div class="col-md-6 col-sm-12 col-12 login-footer-right">
        <ul>
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
